@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/js/CanvasLogic/TextHelper.js"></script>
<script src="~/js/Services/DataResources.js"></script>
<script src="~/js/Controllers/MapController.js"></script>
<script src="~/js/CanvasLogic/RoomObjectFactory.js"></script>
<script src="~/js/CanvasLogic/WallRoomObject.js"></script>
<script src="~/js/CanvasLogic/TableRoomObject.js"></script>
<script src="~/js/CanvasLogic/ScreenTextObject.js"></script>
<script src="~/js/CanvasLogic/RoomObjectCollection.js"></script>
<div ng-controller="Map" ng-init="Init()">
    <div id="toolsPanel" class="tools" hidden>@Html.Partial("Tools")
    </div><div id="mainPanel" class="land">
              <div class="selectRoomPanel">@Html.Partial("SelectRoom")</div>
              <div class="canvas">@Html.Partial("Paper")</div>
              <div>{{X +' : '+ Y + ';' + XProject + ' : ' + YProject + ' ; ' + LogMessage}}</div>
              <div>{{'HitResult: ' + HitResult}}</div>
              <div>{{'LogMessage: ' + LogMessage1}}</div>
              <div id="tableDropDownMenu" class="dropDownMenu" ng-show="tableDropDownMenuVisible">
                  @Html.Partial("TableDropDownMenu")
              </div>
              <div id="screenTextDropDownMenu" class="dropDownMenu" ng-show="screenTextDropDownMenuVisible">
                  @Html.Partial("ScreenTextDropDownMenu")
              </div>
          </div>
</div>
<div id="settingsDialog" style="display: none">
    @Html.Partial("Settings")
</div>
<img id="maptable" class="visuallyhidden" src="@Url.Content("~/img/maptable.png")">
<script type="text/javascript">
    window.getEmployeesWithoutSeatPath = '@Url.Action("GetEmployeesWithoutSeat", "Map")';
    window.saveRoomPath = '@Url.Action("SaveRoom", "Map")';
    window.saveTablePath = '@Url.Action("SaveTable", "Map")';
    window.saveScreenTextPath = '@Url.Action("SaveScreenText", "Map")';
    window.saveWallPath = '@Url.Action("SaveWall", "Map")';
    window.saveEmployeeTableLinkPath = '@Url.Action("SaveEmployeeTableLink", "Map")';
    window.removeEmployeeTableLinkPath = '@Url.Action("RemoveEmployeeTableLink", "Map")';
    window.deleteRoomObjectPath = '@Url.Action("DeleteRoomObject", "Map")';
    window.getRoomsPath = '@Url.Action("GetRooms", "Map")';
    window.changeRoomPath = '@Url.Action("ChangeRoom", "Map")';
    window.createNewRoomPath = '@Url.Action("CreateNewRoom", "Map")';
    window.saveIdentNumberPath = '@Url.Action("SaveIdentNumber", "Map")';
    window.saveAnglePath = '@Url.Action("SaveAngle", "Map")';
    window.getEmployeesWithoutSeatPath = '@Url.Action("GetEmployeesWithoutSeat", "Map")';
    window.getElementsForSearchPath = '@Url.Action("GetElementsForSearch", "Map")';
    window.makeRoomInactivePath = '@Url.Action("MakeRoomInactive", "Map")';
    window.getImportStatisticsPath = '@Url.Action("GetImportStatistics", "Map")';
    window.importEmployeesPath = '@Url.Action("ImportEmployees", "Map")';
    window.getUserAccessPath = '@Url.Action("GetUserAccess", "Map")';
</script>

