@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}
<script src="~/js/Services/DataResources.js"></script>
<script src="~/js/Controllers/MapController.js"></script>
<script src="~/js/CanvasLogic/RoomObjectFactory.js"></script>
<script src="~/js/CanvasLogic/WallRoomObject.js"></script>
<script src="~/js/CanvasLogic/TableRoomObject.js"></script>
<div ng-controller="Map" ng-init="Init()">
    <div class="tools">@Html.Partial("Tools")
    </div><div class="land">
              
              <div class="canvasPanel doubleBorder noBorderBottom">@Html.Partial("SelectRoom")</div>
              <div class="canvasPanel doubleBorder">
                  <div class="canvas">@Html.Partial("Paper")</div>
                  <div>{{X +' : '+ Y + '; ' + LogMessage}}</div>
                  <div>{{'HitResult: ' + HitResult}}</div>
              </div>
              <div id="tableDropDownMenu" class="dropDownMenu" ng-show="tableDropDownMenuVisible">
                  @Html.Partial("TableDropDownMenu")
              </div>
          </div>
</div>
<div id="settingsDialog" style="display: none">
    @Html.Partial("Settings")
</div>
<img id="maptable" class="visuallyhidden" src="@Url.Content("~/img/maptable.png")">
<script type="text/javascript">
    window.getEmployeesWithoutSeatPath = '@Url.Action("GetEmployeesWithoutSeat", "Map")';
    window.saveRoomPath = '@Url.Action("SaveRoom", "Map")';
    window.saveTablePath = '@Url.Action("SaveTable", "Map")';
    window.saveWallPath = '@Url.Action("SaveWall", "Map")';
    window.saveEmployeeTableLinkPath = '@Url.Action("SaveEmployeeTableLink", "Map")';
    window.removeEmployeeTableLinkPath = '@Url.Action("RemoveEmployeeTableLink", "Map")';
    window.deleteRoomObjectPath = '@Url.Action("DeleteRoomObject", "Map")';
    window.getRoomsPath = '@Url.Action("GetRooms", "Map")';
    window.changeRoomPath = '@Url.Action("ChangeRoom", "Map")';
    window.createNewRoomPath = '@Url.Action("CreateNewRoom", "Map")';
    window.saveIdentNumberPath = '@Url.Action("SaveIdentNumber", "Map")';
    window.saveAnglePath = '@Url.Action("SaveAngle", "Map")';
    window.getEmployeesWithoutSeatPath = '@Url.Action("GetEmployeesWithoutSeat", "Map")';
    window.getElementsForSearchPath = '@Url.Action("GetElementsForSearch", "Map")';
</script>

